include ../components/button.pug

-
  const dataMenu = [
    { title: 'Search', icon: './assets/images/32px/image-google.png' },
    { title: 'Youtube', icon: './assets/images/32px/image-youtube.png' },
    { title: 'Play', icon: './assets/images/32px/image-google-play.png' },
    { title: 'News', icon: './assets/images/32px/image-google-news.png' },
    { title: 'Gmail', icon: './assets/images/32px/image-google-mail.png' },
    { title: 'Meet', icon: './assets/images/32px/image-google-meet.png' },
    { title: 'Chat', icon: './assets/images/32px/image-google-messages.png' },
    { title: 'Contacts', icon: './assets/images/32px/image-contacts.png' },
    { title: 'Drive', icon: './assets/images/32px/image-google-drive.png' },
    { title: 'Calendar', icon: './assets/images/32px/image-google-calendar.png' },
    { title: 'Translate', icon: './assets/images/32px/image-google-translate.png' },
    { title: 'Photos', icon: './assets/images/32px/image-photo.png' },
    { title: 'Duo', icon: './assets/images/32px/image-duo.png' },
  ]

header.header 
  .header-wrapper.d-flex.align-items-center.justify-content-between
    .header-item.d-flex.align-items-center
      +Button({ icon: './assets/icons/icon-bar-gray.svg', className: 'only-icon header-btn-sidebar', tooltip: { title: 'Main menu', placement: 'bottom' } })
      a(href="#").header-logo
        img(src="./assets/images/logo-google.svg", alt="").mr-2
        |Shopping

    .header-item.search
      form(action="#").header-search.d-flex.justify-content-center
        .search-icon
          img(src="./assets/icons/icon-search-gray.svg", alt="")
        input(type="text" placeholder="What are you looking for ?").search-input

    .header-item.d-flex.align-items-center
      //- .dropdown(data-delay=`{ "show": 500, "hide": 0 }` data-toggle="tooltip" data-placement=`bottom` title=`Google apps`)
      //-   +Button({ icon: './assets/icons/icon-menu-dots-gray.svg', className: 'only-icon header-btn-menu', idDropdown: 'dropdownHeaderMenu' })
      //-   .dropdown-menu.dropdown-header-menu.dropdown-menu-right(aria-labelledby="dropdownHeaderMenu")
      //-     .header-menu-wrapper.d-flex.flex-wrap 
      //-       .menu-item
      //-         .avatar 
      //-           img(src="./assets/images/image-avatar.png", alt="")
      //-         span.menu-title Account
      //-       each item in dataMenu
      //-         .menu-item
      //-           .menu-icon 
      //-             img(src=`${item.icon}`)
      //-           span.menu-title= item.title
          
      //-     .line 

      //-     .button-groups.d-flex.justify-content-center
      //-       +Button({ className: 'white-outline text-blue medium', title: 'More from Google' })

      .dropdown(data-toggle="tooltip" data-placement=`bottom` data-html="true" title=`<p class="mb-0 text-left">Goolge Account</p><p class="mb-0 text-left gray-light-color">My Account</p><p class="mb-0 text-left gray-light-color">myaccount@gmail.com</p>`)
        .avatar(type="button" id=`dropdownHeaderAccount` data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          img(src="./assets/images/image-avatar.png", alt="")
        .dropdown-menu.dropdown-header-account.dropdown-menu-right(aria-labelledby="dropdownHeaderAccount")
          .header-account-wrapper 
            .account-avatar
              .avatar 
                img(src="./assets/images/image-avatar.png", alt="")
                .avatar-upload 
                  input(type="file")
                  img(src="./assets/icons/icon-camera-gray.svg", alt="")
            
            h5.account-name My Name 
            p.account-email mymail@gmail.com

            .button-groups.d-flex.justify-content-center.mb-3
              +Button({ className: 'white-outline medium radius', title: 'Manage your Google Account' })

            .line

            .account-lists#accordion
              .account-item.d-flex.align-items-start.collapsed
                .avatar 
                  img(src="./assets/images/image-avatar.png", alt="")
                .info 
                  h5.account-name My Name 
                  p.account-email.d-flex.align-items-center mymail@gmail.com

              .account-item.d-flex.align-items-start(id=`headingAccount1` class=`collapsed` data-toggle="collapse" data-target=`#collapseAccount1` aria-expanded="true" aria-controls=`collapseAccount1`)
                .avatar 
                  img(src="./assets/images/image-avatar.png", alt="")
                .info 
                  h5.account-name My Name 
                  p.account-email.d-flex.align-items-center
                    |mymail@gmail.com
                    img(src="./assets/icons/icon-angle-down-gray.svg", alt="")

                  p.account-signed-out Signed Out

                  .collapse(id=`collapseAccount1` aria-labelledby=`headingAccount1` data-parent="#accordion")
                    .button-groups.d-flex.flex-wrap.mt-2
                      +Button({ title: 'Sign In', className: 'blue mr-2 medium' })
                      +Button({ title: 'Remove', className: 'blue mr-2 white' })

              .account-item.d-flex.align-items-center.collapsed
                .account-icon
                  img(src="./assets/icons/icon-user-plus-gray.svg", alt="")
                .info 
                  h5.account-name Add another account

            .line 

            .button-groups.d-flex.justify-content-center
              +Button({ className: 'white-outline medium', title: 'Sign out of all accounts' })

            .line 

            .account-term.d-flex.align-items-center.justify-content-center 
              a(href="#") Privacy Policy
              span •
              a(href="#") Terms of Service
              




                  



