doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Gulp Template

		link(rel="icon" type="image/png" href="./assets/images/favicon.png")

		include head.pug

		//- Style CSS
		link(rel="stylesheet" type="text/css" href="./assets/css/main.css")

		block head

	body
		include ../components/sidebar.pug
		include header.pug
		block pages
		include footer.pug


		include script.pug
		block scripts
		
		//- Java Script
		script(src="./assets/js/main.js")


