.section-link-redirect {
  padding: 10px 24px;
  .link-redirect {
    font-size: 14px;
    color: $gray;
    font-weight: 600;
    img {
      width: 18px;
      margin-left: 10px;
    }
  }
}

.section-notification {
  background: $yellow-light;
  padding: 10px 24px;
  @media (max-width: 768px) {
    padding: 10px 10px;
  }
  p {
    color: $gray-dark;
    font-size: 14px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    a {
      color: $link;
    }
  }
}