.button-component {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  .button-icon {
    width: 18px;
    margin-right: 5px;
  }

  .button-title {
    font-weight: 600;
    font-size: 14px;
  }

  &.small {
    padding: 5px 10px;
    .button-title {
      font-size: 14px;
    }
  }

  &.medium {
    padding: 15px;
  }

  &.radius {
    border-radius: 30px;
  }

  &.only-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &.big {
      width: 50px;
      height: 50px;
      .button-icon {
        width: 25px;
      }
    }
    .button-icon {
      margin: 0;
    }
    &:hover {
      background: $gray-hover;
    }
  }

  &.white-outline {
    border-color: $border;
    background: $white;
    &:hover {
      background: $gray-hover;
    }
    .button-title {
      color: $gray-dark;
    }
  }

  &.text-blue {
    .button-title {
      color: $blue;
    }
  }
}