-
  const dataHelpList = [
    'Use tabs in Chrome',
    'Search the web on Chrome',
    'Set your default search engine',
    'Download a file',
    'Flash Player is no longer available',
    'Read pages later and offline',
    'See a site by turning off Chrome\'s ad blocker',
    'Print from Chrome',
    'Browse in Dark mode or Dark theme',
    'Share pages and phone calls between devices',
    'Share pages with others',
    'Share pages with a QR code',
    'Manage suggested articles',
    'Use Progressive Web Apps',
    'Control your music, videos & more',
    'Search your open tabs in Chrome',
    'Test experimental features in Chrome',
  ]