-
  const dataSupports = [
    {
      title: 'Get started with Google Drive',
      child: [
        { title: 'How to use Google Drive', link: '#' },
        { title: 'System erquirements and browsers', link: '#' },
        { title: 'Use Google Drive files offline', link: '#' },
        { title: 'Buy more Google storage', link: '#' },
        { title: 'Manage files in your Google Drive storage', link: '#' },
        { title: 'Accessibility', link: '#' },
        { title: 'Use Dark theme in Google Drive', link: '#' },
        { title: 'Upcoming changes to how you Google storage works', link: '#' },
      ],
    },
    {
      title: 'Store files in Google Drive',
      child: [
        { title: 'Upload files and folders to Google Drive', link: '#' },
        { title: 'Download a file', link: '#' },
        { title: 'Files you can store in Google Drive', link: '#' },
        { title: 'View & open files', link: '#' },
        { title: 'Store and play video in Google Drive', link: '#' },
        { title: 'Save, edit & share Microsoft Office files', link: '#' },
        { title: 'Save web content to Google Drive', link: '#' },
        { title: 'Convert PDF and photo files to text', link: '#' },
        { title: 'Fill out PDF forms in Google Drive', link: '#' },
      ],
    },
    {
      title: 'Organize and find your files',
      child: [
        { title: 'Organize your files in Google Drive', link: '#' },
        { title: 'Delete and restore files in Google Drive', link: '#' },
        { title: 'Find or recover a file', link: '#' },
        { title: 'Find files in Google Drive', link: '#' },
        { title: 'Reorder your files', link: '#' },
        { title: 'View activity & file versions', link: '#' },
        { title: 'Use Google Drive apps', link: '#' },
        { title: 'Get Google Drive notifications', link: '#' },
        { title: 'Find files & folders with Google Drive shortcuts', link: '#' },
      ],
    },
    {
      title: 'Share files with Google Drive',
      child: [
        { title: 'Share files from Google Drive', link: '#' },
        { title: 'Stop, limit, or change sharing', link: '#' },
        { title: 'Make someone else the owner of your file', link: '#' },
        { title: 'Share folders in Google Drive', link: '#' },
        { title: 'Store & share files or folders with shared drives', link: '#' },
        { title: 'Anonymous or unknown people in a file', link: '#' },
        { title: 'Share documents with visitors', link: '#' },
        { title: 'Get approvals on files in Google Drive', link: '#' },
      ],
    },
    {
      title: 'Sync files to your computer',
      child: [
        { title: 'Compare Backup and Sync & Google Drive for desktop',  link: '#' },
        { title: 'Back up & sync files with Google Drive',  link: '#' },
        { title: 'Stop syncing Google Drive files with Backup and Sync',  link: '#' },
        { title: 'Fix problems syncing to your computer',  link: '#' },
        { title: 'Upcoming changes to Google Drive sync clients',  link: '#' },
      ],
    },
    {
      title: 'Docs, Sheets, Slides, and other apps',
      child: [
        { title: 'Add photos & videos from Google Drive to Google Photos', link: '#' },
        { title: 'Use Google products side by side', link: '#' },
        { title: 'Back up iPhone data with Google Drive', link: '#' },
        { title: 'Save, edit & share Microsoft Office files', link: '#' },
        { title: 'Use Google Drive with Yahoo Mail', link: '#' },
        { title: 'Manage your maps in Google Drive', link: '#' },
        { title: 'Manage & restore your mobile backups in Google Drive', link: '#' },
        { title: 'Use Google Drive apps', link: '#' },
        { title: 'See Google Drive activity in Slack', link: '#' },
        { title: 'Use Google Docs, Sheets & Slides with Box, Dropbox, or Egnyte', link: '#' },
        { title: 'Work with Microsoft Office files', link: '#' },
      ],
    },
    {
      title: 'Privacy, policies, and offers',
      child: [
        { title: 'Google Drive Terms of Service', link: '#' },
        { title: 'Abuse Program Policies and Enforcement', link: '#' },
        { title: 'Report a violation', link: '#' },
        { title: 'Request a review of a violation', link: '#' },
        { title: 'Purchase, cancellation & refund policies', link: '#' },
        { title: 'Privacy and policies', link: '#' },
        { title: 'Export your data from Google Docs, Sheets, Slides, Drawings, Sites, Drive, Forms & Jamboard', link: '#' },
      ],
    },
    {
      title: 'Fix a problem',
      child: [
        { title: 'Find or recover a file', link: '#' },
        { title: 'Fix common issues in Google Drive', link: '#' },
        { title: 'Fix problems syncing to your computer', link: '#' },
        { title: 'Contact Google Drive support', link: '#' },
        { title: 'Fix payment issues', link: '#' },
        { title: 'Change or cancel storage plans', link: '#' },
        { title: 'Manage files in your Google Drive storage', link: '#' },
        { title: 'Can\'t sign in to your Google Account', link: '#' },
        { title: 'Issues editing Google Docs, Sheets, Slides & Forms', link: '#' },
      ],
    },
  ]