$white: #fff;
$black: #000;
$gray: #5f6368;
$gray-light: #bdc1c6;
$gray-light-hover: #f8f9fa;
$gray-dark: #3c4043;
$gray-hover: rgba(60,64,67,0.08);

$blue: #1a73e8;
$blue-light: #e8f0fe;
$blue-light-hover: #d2e3fc;

$yellow-light: #fef7e0;
$link: #1967d2;

$border: #dadce0;
$text-black: #202124;