extends includes/layout/layout.pug
block pages
  include includes/pages/section-banner-shopping.pug
  include includes/pages/section-carousel-product.pug
  include includes/pages/section-grid-product.pug
  include includes/pages/section-ziczac-product.pug
  
  