
.product-component 
  a(href="#").product-image 
    img(src="./assets/images/image-product-sample.png" alt="")
  .product-price.d-flex.align-items-center.flex-wrap
    span ₫38,635,859
    del ₫48,360,901

  a(href="#").product-title MacBook Pro 13-inch - M1 Chip, 8GB Ram, 256gb SSD - Space Gray -Apple

  .product-rating.d-flex.flex-wrap.align-items-center
    img(src="./assets/icons/icon-star-yellow.svg" alt="")
    img(src="./assets/icons/icon-star-yellow.svg" alt="")
    img(src="./assets/icons/icon-star-yellow.svg" alt="")
    img(src="./assets/icons/icon-star-yellow.svg" alt="")
    img(src="./assets/icons/icon-star-yellow.svg" alt="")
    span.rating-number 3,184