section.section-sidebar 
  .sidebar-overlay 
  .sidebar-main
    .sidebar-header.d-flex.align-items-center.justify-content-between
      span.header-title Google Help 
      img(src="./assets/icons/icon-close-gray.svg", alt="").header-icon
    .sidebar-content 
      .lists-group
        a(href="#").list-link Help Center
        a(href="#").list-link Community
        a(href="#").list-link Google Drive

      .lists-group
        a(href="#").list-link Privacy Policy
        a(href="#").list-link Terms of Service
        a(href="#").list-link Submit feedback