section.section-link-redirect.d-flex.justify-content-end 
  a(href="#").link-redirect.align-items-center
    |Google 
    img(src="./assets/icons/icon-arrow-square-gray.svg", alt="")

section.section-notification 
  p As a precautionary health measure for our support specialists in light of COVID-19, we're operating with a limited team. If you need help with a product whose support you had trouble reaching over the phone, consult its #[a(href="#") product-specific Help Center]