section.section-product.section-ziczac-product
  .section-wrapper 
    .section-header.d-flex.align-items-center.justify-content-center
      .header-item
        h2.section-hero Trending on Google

    .section-body 
      .ziczac-product-main
        each item in [1,2,3,4,5]
          .ziczac-item
            include ../components/product.pug

      .section-view-more.d-flex.align-items-center.justify-content-center 
        span View more
        img(src="./assets/icons/icon-angle-down-blue.svg", alt="")