include ../components/button.pug

section.section-banner-shopping 
  .section-wrapper.d-flex 
    .section-item 
      h3.banner-title Let's go shopping, You
    .section-item 
      img(src="./assets/images/image-banner-shopping.webp", alt="")

    